In [2]:
!git clone https://github.com/tenmongit/loan-approval-project-mlfinal.git
%cd loan-approval-project-mlfinal

import pandas as pd
df = pd.read_csv("data/raw/loan_data.csv")
df.head()

m:\projects\repos\loan-approval-project-mlfinal\notebooks\loan-approval-project-mlfinal\loan-approval-project-mlfinal

Cloning into 'loan-approval-project-mlfinal'...

,name,city,income,credit_score,loan_amount,years_employed,points,loan_approved
0,Allison Hill,East Jill,113810,389,39698,27,50.0,False
1,Brandon Hall,New Jamesside,44592,729,15446,28,55.0,False
2,Rhonda Smith,Lake Roberto,33278,584,11189,13,45.0,False
3,Gabrielle Davis,West Melanieview,127196,344,48823,29,50.0,False
4,Valerie Gray,Mariastad,66048,496,47174,4,25.0,False